Hello! This time I am going to try a study on a city I know nothing about soooo... Indianapolis it is!!

data from https://data.indy.gov/datasets/IndyGIS::parking/

In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib as plt
import folium


pd.set_option('display.max_columns', None) ### This line makes all the columns display, rather than ellipses shorten

parking_data_frame = gpd.read_file("C:/Users/aaron/Code/Data/Indianapolis_Parking.zip")
pavement_data_frame = gpd.read_file("C:/Users/aaron/Code/Data/Indianapolis_Pavement.zip")

parking_data_frame.head()

,OBJECTID,SHAPEAREA,SHAPELEN,geometry
0,50881,214.392463,81.576922,"POLYGON ((-86.08122 39.62225, -86.08122 39.622..."
1,50882,4166.507230,258.387698,"POLYGON ((-86.15692 39.62369, -86.15717 39.623..."
2,50883,55959.936054,2523.109181,"POLYGON ((-86.07114 39.62437, -86.07111 39.624..."
3,50884,4503.175590,368.119061,"POLYGON ((-86.11641 39.62403, -86.11646 39.624..."
4,50885,10912.617393,728.672341,"POLYGON ((-86.11284 39.62421, -86.11290 39.624..."

In [2]:
#parking_data_frame['geometry'].explore()

In [3]:
pavement_data_frame.head()

,OBJECTID,YRCODE,YEAR,SHAPELEN,geometry
0,676939,A,1986,96.982188,"LINESTRING (-86.20622 39.72898, -86.20622 39.7..."
1,676940,A,1986,48.952412,"LINESTRING (-86.20599 39.72919, -86.20602 39.7..."
2,676941,L,2007,55.666028,"LINESTRING (-86.20622 39.72898, -86.20622 39.7..."
3,676942,L,2007,18.544578,"LINESTRING (-86.33665 39.72596, -86.33664 39.7..."
4,676943,A,1986,123.176603,"LINESTRING (-86.33665 39.72596, -86.33648 39.7..."

In [4]:
#pavement_data_frame['geometry'].explore()

In [5]:
pavement_data_frame = pavement_data_frame.to_crs(crs=3857)

In [6]:
pavement_data_frame.head()

,OBJECTID,YRCODE,YEAR,SHAPELEN,geometry
0,676939,A,1986,96.982188,"LINESTRING (-9596432.774 4826635.895, -9596432..."
1,676940,A,1986,48.952412,"LINESTRING (-9596407.065 4826666.548, -9596410..."
2,676941,L,2007,55.666028,"LINESTRING (-9596432.774 4826635.895, -9596432..."
3,676942,L,2007,18.544578,"LINESTRING (-9610952.389 4826199.779, -9610950..."
4,676943,A,1986,123.176603,"LINESTRING (-9610952.389 4826199.779, -9610932..."

In [7]:
pavement_data_frame.area

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
115170    0.0
115171    0.0
115172    0.0
115173    0.0
115174    0.0
Length: 115175, dtype: float64

In [9]:
parking_data_frame = parking_data_frame.to_crs(crs=3857)

In [12]:
#pd.options.display.float_format = '{:.000f}'.format ##disable scientific notation

parking_data_frame['area'] = parking_data_frame.area

In [13]:
parking_data_frame.head()

,OBJECTID,SHAPEAREA,SHAPELEN,geometry,area
0,50881,214.392463,81.576922,"POLYGON ((-9582517.944 4811198.921, -9582517.7...",33.614300
1,50882,4166.507230,258.387698,"POLYGON ((-9590944.636 4811407.996, -9590971.8...",653.282588
2,50883,55959.936054,2523.109181,"POLYGON ((-9581395.320 4811506.608, -9581392.4...",8774.380735
3,50884,4503.175590,368.119061,"POLYGON ((-9586435.236 4811456.474, -9586440.2...",706.080304
4,50885,10912.617393,728.672341,"POLYGON ((-9586037.902 4811483.358, -9586044.1...",1711.090384

In [46]:
parking_data_frame.iloc[100].geometry.bounds

(-9586285.152386492, 4812236.481750925, -9586197.8286147, 4812362.027575916)

In [59]:
pavement_data_frame.iloc[15].geometry