##### Hello! In this notebook I plan to see how much the rain affects fremont bike traffic! 
##### i got the rain data from here -> https://www.ncdc.noaa.gov/cdo-web/search
##### and the fremont bike data from here -> https://data.seattle.gov/Transportation/Fremont-Bridge-Bicycle-Counter/65db-xm6k

In [1]:
import pandas as pd
import matplotlib.pyplot as plt


### currnet weather frame only goes to 2019
rain_data_frame = pd.read_csv('C:/Users/aaron/Code/Data/Rain_In_Ballard.csv', parse_dates=[5])
bike_data_frame = pd.read_csv('C:/Users/aaron/Code/Data/Fremont_Bridge_Bicycle_Counter_20231106.csv', parse_dates=[0])

rain_data_frame.head(5)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DAPR,DAPR_ATTRIBUTES,MDPR,MDPR_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,WESD,WESD_ATTRIBUTES
0,US1WAKG0294,"SEATTLE 4.0 NNW, WA US",47.671842,-122.394856,32.0,2022-05-01,NaN,NaN,NaN,NaN,0.00,",,N",0.0,",,N",NaN,NaN
1,US1WAKG0294,"SEATTLE 4.0 NNW, WA US",47.671842,-122.394856,32.0,2022-05-02,NaN,NaN,NaN,NaN,0.42,",,N",NaN,NaN,NaN,NaN
2,US1WAKG0294,"SEATTLE 4.0 NNW, WA US",47.671842,-122.394856,32.0,2022-05-03,NaN,NaN,NaN,NaN,0.08,",,N",NaN,NaN,NaN,NaN
3,US1WAKG0294,"SEATTLE 4.0 NNW, WA US",47.671842,-122.394856,32.0,2022-05-04,NaN,NaN,NaN,NaN,0.00,",,N",0.0,",,N",NaN,NaN
4,US1WAKG0294,"SEATTLE 4.0 NNW, WA US",47.671842,-122.394856,32.0,2022-05-05,NaN,NaN,NaN,NaN,0.03,",,N",NaN,NaN,NaN,NaN

In [2]:
##### add day month and year columns for ease

#rain_data_frame['DAY'] = rain_data_frame['DATE'].iloc[:2]

rain_data_frame['DAY'] = rain_data_frame['DATE'].dt.day
rain_data_frame['MONTH'] = rain_data_frame['DATE'].dt.month
rain_data_frame['YEAR'] = rain_data_frame['DATE'].dt.year
rain_data_frame['WEEK_NUM'] = rain_data_frame['DATE'].dt.isocalendar().week
rain_data_frame['DAY_OF_YEAR'] = rain_data_frame['DATE'].dt.timetuple().tm_yday

bike_data_frame['Day'] = bike_data_frame['Date'].dt.day
bike_data_frame['Month'] = bike_data_frame['Date'].dt.month
bike_data_frame['Year'] = bike_data_frame['Date'].dt.year
bike_data_frame['Time'] = bike_data_frame['Date'].dt.time
bike_data_frame['Date_Only'] = bike_data_frame['Date'].dt.date
bike_data_frame['Week_Num'] = bike_data_frame['Date'].dt.isocalendar().week
bike_data_frame['Day_Of_Year'] = bike_data_frame['DATE'].dt.timetuple().tm_yday


#print (datestr.iloc[:3])

AttributeError: 'DatetimeProperties' object has no attribute 'timetuple'

In [ ]:
rain_data_frame['DATE'].dt.

In [ ]:
rain_data_frame.info()

In [ ]:
bike_data_frame.head()

In [ ]:
bike_data_frame.info()

In [ ]:
rain_data_frame.head()

In [ ]:
bike_year_mask = bike_data_frame['Year'] == 2022
year_bike = bike_data_frame[bike_year_mask]

#year_rain.head()


date_group = year_bike.groupby('Week_Num').agg({'Fremont Bridge Sidewalks, south of N 34th St':'mean'}).reset_index()

all_weeks = bike_data_frame.groupby('Week_Num').agg({'Fremont Bridge Sidewalks, south of N 34th St':'mean'}).reset_index()

date_group.head()

In [ ]:
y = all_weeks['Fremont Bridge Sidewalks, south of N 34th St']

plt.plot(y)

In [ ]:
year_var = 2021

rain_year = rain_data_frame[rain_data_frame['YEAR'] == year_var]
bike_year = bike_data_frame[bike_data_frame['Year'] == year_var]

In [ ]:
#bike_daily_2022 = bike_2022.groupby()

bike_2021_daily = bike_year.groupby('Date_Only').agg({'Fremont Bridge Sidewalks, south of N 34th St':'sum'})

a = bike_2021_daily['Fremont Bridge Sidewalks, south of N 34th St']
b = rain_year['PRCP']

#plt.plot(a,b)

#plt.show()

rain_year.info()