#### Hello!! This data is from https://data.austintexas.gov/Transportation-and-Mobility/Camera-Traffic-Counts/sh59-i6y9

###### This data set is huge. Huge. it is over 11 GB, and 76.1 Million rows. We'll see how this works out

##### I will try to use it to study austin traffic patterns over time. We'll see how it goes.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## below line lets me display X amount of rows
pd.set_option('display.max_rows', 70)


###importing to drop the ID column as well as making the data column a date type, both in an attempt to save memory
small_data_frames = pd.read_csv('C:/Users/aaron/Code/Data/Camera_Traffic_Counts_20231019.csv', chunksize = 1000000, parse_dates=[1], usecols = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18])
#small_data_frame = pd.read_csv('C:/Users/aaron/Code/Data/Camera_Traffic_Counts_20231019.csv', nrows = 10000, parse_dates=[1], usecols = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18])


#current_df = pd.concat([x.query("`Intersection Name` == 'MARTIN LUTHER KING JR BLVD / SAN JACINTO BLVD'") for x in small_data_frames], ignore_index=True)
#Congress_and_Oltorf_df = pd.concat([x.query("`Intersection Name` == 'CONGRESS AVE / OLTORF ST'") for x in small_data_frames], ignore_index=True)
#MLK_and_SanJac_df = pd.concat([x.query("`Intersection Name` == 'MARTIN LUTHER KING JR BLVD / SAN JACINTO BLVD'") for x in small_data_frames], ignore_index=True)
#I35_and_I35_df = pd.concat([x.query("`Intersection Name` == 'IH 35 SVRD / HOLLY ST'") for x in small_data_frames], ignore_index=True)
#I35_and_I35_df = pd.concat([x.query("`Intersection Name` == 'IH 35 SVRD / N IH 35 SVRD SB AT 41ST TRN'") for x in small_data_frames], ignore_index=True)


recent_query = '`Read Date` > "2022-05-20"'
less_recent_query = '`Read Date` <= "2022-05-20" and `Read Date` > "2021-05-20"'


full_2023_query = '`Read Date` < "2024-01-01" and `Read Date` >= "2023-01-01"'
full_2022_query = '`Read Date` < "2023-01-01" and `Read Date` >= "2022-01-01"'
full_2021_query = '`Read Date` < "2022-01-01" and `Read Date` >= "2021-01-01"'
full_2020_query = '`Read Date` < "2021-01-01" and `Read Date` >= "2020-01-01"'
full_2019_query = '`Read Date` < "2020-01-01" and `Read Date` >= "2019-01-01"'
full_2018_query = '`Read Date` < "2019-01-01" and `Read Date` >= "2018-01-01"'
full_2017_query = '`Read Date` < "2018-01-01" and `Read Date` >= "2017-01-01"'

may_2022_query = '`Read Date` < "2022-06-01" and `Read Date` >= "2022-05-01"'


#current_df = pd.concat([x.query("`Read Date` > `2023-05-00`") for x in small_data_frames], ignore_index=True)
#current_df = pd.concat([x.query(full_2021_query) for x in small_data_frames], ignore_index=True)

#df_2023 = pd.concat([x.query(full_2023_query) for x in small_data_frames], ignore_index=True)
#df_2022 = pd.concat([x.query(full_2022_query) for x in small_data_frames], ignore_index=True)
may_2022 = pd.concat([x.query(may_2022_query) for x in small_data_frames], ignore_index=True)



#I35_and_I35_df.head()


#over_50_df = pd.concat([x.query("Volume > 50") for x in small_data_frames], ignore_index=True)

may_2022.head()

,ATD Device ID,Read Date,Intersection Name,Direction,Movement,Heavy Vehicle,Volume,Speed Average (Miles Per Hour),Speed StdDev,Seconds in Zone Average,Seconds in Zone StdDev,Month,Day,Year,Hour,Minute,Day of Week,Bin Duration (Seconds)
0,6164,2022-05-09 12:30:00,CAPITAL OF TEXAS HWY / WESTLAKE DR,WESTBOUND,THRU,True,6,12.667,3.933,22.250,48.050,5,9,2022,12,30,1,900
1,6164,2022-05-09 12:45:00,CAPITAL OF TEXAS HWY / WESTLAKE DR,EASTBOUND,LEFT TURN,False,7,16.429,4.237,19.986,21.674,5,9,2022,12,45,1,900
2,6164,2022-05-09 12:45:00,CAPITAL OF TEXAS HWY / WESTLAKE DR,EASTBOUND,LEFT TURN,True,3,11.667,4.726,83.667,24.944,5,9,2022,12,45,1,900
3,6164,2022-05-09 12:45:00,CAPITAL OF TEXAS HWY / WESTLAKE DR,EASTBOUND,RIGHT TURN,True,1,25.000,0.000,6.200,0.000,5,9,2022,12,45,1,900
4,6164,2022-05-09 12:45:00,CAPITAL OF TEXAS HWY / WESTLAKE DR,EASTBOUND,THRU,False,2,13.500,4.950,26.500,34.790,5,9,2022,12,45,1,900

In [3]:
may_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1123564 entries, 0 to 1123563
Data columns (total 18 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   ATD Device ID                   1123564 non-null  int64
 1   Read Date                       1123564 non-null  datetime64[ns]
 2   Intersection Name               1123564 non-null  object
 3   Direction                       1123564 non-null  object
 4   Movement                        1123564 non-null  object
 5   Heavy Vehicle                   1123564 non-null  bool
 6   Volume                          1123564 non-null  int64
 7   Speed Average (Miles Per Hour)  1123564 non-null  float64
 8   Speed StdDev                    1123564 non-null  float64
 9   Seconds in Zone Average         1123564 non-null  float64
 10  Seconds in Zone StdDev          1123564 non-null  float64
 11  Month                           1123564 non-null  int64
 12  Day                             1123564 non-null  int64
 13  Year                            1123564 non-null  int64
 14  Hour                            1123564 non-null  int64
 15  Minute                          1123564 non-null  int64
 16  Day of Week                     1123564 non-null  int64
 17  Bin Duration (Seconds)          1123564 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(4), int64(9), object(3)
memory usage: 146.8+ MB

In [ ]:
current_df.memory_usage(deep=True)

In [ ]:
current_df.nunique()

In [ ]:
current_df['Intersection Name'].value_counts()

In [ ]:
current_df['Volume'].mean()

In [ ]:
year_group = current_df.groupby(['Year', 'Month']).agg({'Speed Average (Miles Per Hour)':'mean', 'Seconds in Zone Average':'mean', 'Volume':'mean'})

year_group.tail(16)

In [ ]:
year_group.plot()

In [ ]:
movement_group = current_df.groupby('Movement').agg({'Speed Average (Miles Per Hour)':'mean'})

movement_group

In [ ]:
#df_2023.plot()

df_2023.groupby(['Year', 'Month']).agg({'Speed Average (Miles Per Hour)':'mean', 'Seconds in Zone Average':'mean', 'Volume':'mean'}).plot()

In [ ]:
df_2022.groupby(['Year', 'Month']).agg({'Speed Average (Miles Per Hour)':'mean', 'Seconds in Zone Average':'mean', 'Volume':'mean'}).plot()

In [ ]:
may_2022.groupby(['Year', 'Month','Day']).agg({'Speed Average (Miles Per Hour)':'mean', 'Seconds in Zone Average':'mean', 'Volume':'mean'}).plot()

In [ ]:
#plot_2021 = df_2021.groupby(['Year', 'Month']).agg({'Speed Average (Miles Per Hour)':'mean', 'Seconds in Zone Average':'mean', 'Volume':'mean'})

#plt.hist(df_2021['Speed Average (Miles Per Hour)'],bins = 15)
plt.hist(may_2022['Volume'],bins = 15)

plt.show()

In [ ]:
may_2022['Volume'].describe()